---
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import Pagination from '@/components/Pagination'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getIssues, getPosts } from '@/utils'

export async function getStaticPaths({ paginate }: any) {
	const allPosts = await getPosts()

	return paginate(allPosts, {
		pageSize: 5
	})
}

const { page } = Astro.props
const posts = (page as { data: any }).data
---

<BaseLayout title='All Articles'>
	<TitlePage title='All Articles' />
	<ListCategories />

	<div>
		<h1 class='text-lg font-medium tracking-wide text-end'>Latest Posts</h1>
		<ListPosts FirstBig={true} posts={posts} />
	</div>
	<Pagination page={page} />
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
