---
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import Pagination from '@/components/Pagination'
import PageTitle from '@/components/PageTitle'
import BaseLayout from '@/layouts/BaseLayout'
import { siteConfig } from '@/data/site.config'
import { getNonArchivedPosts } from 'src/lib'

export async function getStaticPaths({ paginate }: any) {
	const allPosts = await getNonArchivedPosts()

	return paginate(allPosts, {
		pageSize: siteConfig.paginationSize
	})
}

type PageProps = {
	currentPage: number
	data: any
}

const { page } = Astro.props as { page: PageProps }
const posts = page.data
---

<BaseLayout title='All Articles'>
	<PageTitle title='All Articles' />
	<ListCategories />

	<div>
		<div class='flex flex-row justify-between'>
			<h1 class='text-lg font-medium text-start'>
				Page {page.currentPage}
			</h1>
			<h1 class='text-lg font-medium tracking-wide text-end'>Latest Posts</h1>
		</div>
		<ListPosts FirstBig={true} posts={posts} />
	</div>
	<Pagination page={page} />
</BaseLayout>
