@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	.prose code {
		@apply text-base;
	}

	.prose h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-zinc-800 dark:text-zinc-100 !important;
	}
}

.dark {
	--pagefind-ui-primary: #eeeeee;
	--pagefind-ui-text: #eeeeee;
	--pagefind-ui-background: #152028;
	--pagefind-ui-border: #152028;
	--pagefind-ui-tag: #152028;
}

@font-face {
	font-family: 'ArgentCF';
	src: url('/ArgentPixelCF-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

