---
import BaseLayout from '@/layouts/BaseLayout'
import ListPosts from '@/components/ListPosts'
import { filterPostsByAuthor, sluglify, sortPostsByDate } from '@/utils'
import { getAuthor, getAuthors } from '@/data/authors'

export async function getStaticPaths() {
	const authors = await getAuthors()

	return authors.map((author) => ({
		params: { author: sluglify(author).toLowerCase() },
		props: { author }
	}))
}

const { author } = Astro.props

const posts = await filterPostsByAuthor(author)
const sortedPosts = sortPostsByDate(posts)
const { bio, pfp } = getAuthor(author) || {}
---

<BaseLayout title={author}>
	<div class='flex flex-col md:flex-row mb-8 items-center'>
		<div
			style={`background-image: url('${pfp || '/author/default.jpg'}');`}
			class='size-48 block flex-shrink-0 bg-cover rounded-full bg-center md:mr-4 mb-4 md:mb-0'
		>
		</div>
		<div class='flex flex-col justify-center items-center md:items-start'>
			<h1 class='text-4xl font-bold mb-4'>{author}</h1>
			<p class={`text-lg md:text-xl ${!bio ? 'opacity-50' : ''}`}>{bio || 'No biography found'}</p>
		</div>
	</div>
	<ListPosts posts={sortedPosts} data-pagefind-ignore='all' />
</BaseLayout>
