---
import BaseLayout from '@/layouts/BaseLayout'
import ListPosts from '@/components/ListPosts'
import { sortPostsByDate } from 'src/lib'
import directus, { directusAssetsUrl } from 'src/lib/directus'
import { readItems } from '@directus/sdk'

export async function getStaticPaths() {
	const authors = await directus.request(
		readItems('author', {
			fields: ['*']
		})
	)

	return authors.map((author) => ({
		params: { author: author.slug },
		props: { author }
	}))
}

const { author } = Astro.props

// filter posts by author
const posts = await directus.request(
	readItems('post', {
		fields: [
			'id',
			'title',
			'description',
			'slug',
			//@ts-expect-error
			'authors.*',
			'issue',
			'heroImage',
			'alt',
			'category',
			'tags',
			'readTime',
			{ issue: ['*'] }
		],
		filter: {
			authors: {
				//@ts-ignore
				author_id: {
					_in: [author.id]
				}
			}
		}
	})
)
const sortedPosts = sortPostsByDate(posts)
---

<BaseLayout title={author.name}>
	<div class='flex flex-col md:flex-row mb-8 items-center'>
		<div
			style={`background-image: url('${directusAssetsUrl + author?.photo + '?width=400' || '/author/default.jpg'}');`}
			class='size-48 block shrink-0 bg-cover rounded-full bg-center md:mr-4 mb-4 md:mb-0'
		>
		</div>
		<div class='flex flex-col justify-center items-center md:items-start'>
			<p
				class={`${author.alumni ? 'inline-block' : 'hidden'} px-2 py-1 my-2 dark:bg-white bg-black dark:text-black text-white rounded-full `}
			>
				Alumni
			</p>
			<h1 class='text-4xl font-bold mb-4'>{author.name}</h1>
			<p class={`text-lg md:text-xl ${author.bio ? 'opacity-50' : ''}`}>
				{author.bio || 'No biography found'}
			</p>
		</div>
	</div>
	<div data-pagefind-ignore='all'>
		<ListPosts posts={sortedPosts} />
	</div>
</BaseLayout>
