---
import BaseLayout from '@/layouts/BaseLayout'
import ListPosts from '@/components/ListPosts'
import PageTitle from '@/components/PageTitle'
import { filterPostsByIssue } from '@/utils'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
	const issues = await getCollection('issues')

	return issues.map((issue) => ({
		params: { issue: issue.id },
		props: { issue }
	}))
}

const { issue } = Astro.props

const posts = await filterPostsByIssue(issue.id)

const issueTitle = issue.data.name + (issue.data.archived ? ' (Archived)' : '')
---

<BaseLayout title={issue.data.name}>
	<PageTitle title={issueTitle} />
	<div data-pagefind-ignore='all'>
		<ListPosts posts={posts} FirstBig={true} />
	</div>
</BaseLayout>
