---
import BaseLayout from '@/layouts/BaseLayout'
import PageTitle from '@/components/PageTitle'
import Hero from '@/components/Hero2'
import AuthorCard from '@/components/AuthorCard2'
import { Timeline } from '../components/aceternity/Timeline'
import Contact from '../components/aceternity/contact'

const timelineData = [
	{
		title: 'Started the Journey',
		content: 'Began with a small team of student writers.'
	},
	{
		title: 'Launched Panther Press',
		content: 'Published our first newsletter.'
	},
	{
		title: 'Expanded Reach',
		content: 'Gained recognition in the school community.'
	}
]
---

<BaseLayout title='About Us'>
	<main id='content'>
		<div class='relative bg-gradient-to-r from-cs-tertiary to-cs-primary text-white'>
			<div class='max-w-4xl mx-auto py-20 px-4 text-center relative'>
				<div class='mb-6 flex justify-center'>
					<div class='text-center'></div>
					<PageTitle title='About Us' />
				</div>
				<p class='mt-4 text-xl md:text-2xl font-light text-center'>
					Discover the story behind VP Panther Press, a student-led initiative bringing school news
					to life.
				</p>
				<div class='mt-6 text-center margin-bottom-5px'>
					<a
						href='#content'
						class='inline-block bg-white text-cs-primary font-semibold text-lg px-6 py-3 rounded-lg shadow-md hover:bg-cs-secondary hover:text-white'
					>
						Learn More
					</a>
				</div>
			</div>
		</div>
	</main>

	<div class='mt-4 md:mt-6 flex justify-center'>
		<div class='bg-gray-100 dark:bg-gray-800 px-6 py-4 rounded-lg shadow-md text-center max-w-xl'>
			<p class='text-lg md:text-xl font-semibold text-gray-700 dark:text-gray-300'>
				"VP Panther Press aims to spread school news and is run for students and by students."
			</p>
		</div>
	</div>
	<Timeline data={timelineData} client:only='react' />
	<center
		><h2 style='font-weight: bolder; font-size: x-large; margin-bottom: 20px;'>
			Our Exec Team!
		</h2></center
	>
	<div class='flex flex-wrap justify-center'>
		<AuthorCard author='Tazmeen' role='Co-President' description='Manager' />
		<AuthorCard author='Gloria' role='Co-President' description='Manager' />
		<AuthorCard author='Srivathsan' role='Board Manager' description='News' />
		<AuthorCard author='Eshan' role='Board Manager' description='News' />
		<AuthorCard author='Lucy' role='Board Manager' description='Editorial' />
		<AuthorCard author='Jasmine' role='Board Manager' description='Editorial' />
		<AuthorCard author='Thomas' role='Board Manager' description='Life' />
		<AuthorCard author='Simone' role='Board Manager' description='Visual Arts' />
		<AuthorCard author='Michael' role='Board Manager' description='Visual Arts' />
		<AuthorCard author='Tina' role='Board Manager' description='Social Media' />
		<AuthorCard author='Feng' role='Board Manager' description='Social Media' />
		<AuthorCard author='Mona' role='Board Manager' description='Print Dev' />
		<AuthorCard author='Sujay' role='Board Manager' description='Print Dev' />
		<AuthorCard author='Surya' role='Board Manager' description='Web Dev' />
		<AuthorCard author='Hamza' role='Board Manager' description='Web Dev' />
	</div>

	<center><h2 style='font-weight: bolder; font-size:x-large;'>Our Authors!</h2></center>
	<div class='flex flex-wrap justify-center'>
		<AuthorCard author='Samuel' role='Author' description='News' />
		<AuthorCard author='Alina' role='Author' description='News & Editorial' />
		<AuthorCard author='Jonathan' role='Author' description='News, Editorial & Life' />
		<AuthorCard author='Monica' role='Author' description='News' />
		<AuthorCard author='Setayesh' role='Author' description='News' />
		<AuthorCard author='Jeffrey' role='Author' description='News' />
		<AuthorCard author='William' role='Author' description='News' />
		<AuthorCard author='Raymond' role='Author' description='News & Visual Arts' />
		<AuthorCard author='Ayaa' role='Author' description='News & Life' />
		<AuthorCard author='Jasmine' role='Author' description='News & Visual Arts' />
		<AuthorCard author='Lucy' role='Author' description='Print Dev' />
		<AuthorCard author='Subu' role='Author' description='Editorial' />
		<AuthorCard author='Alisa' role='Author' description='Editorial' />
		<AuthorCard author='Nolan' role='Author' description='Editorial' />
		<AuthorCard author='Krishnapriya' role='Author' description='Editorial' />
		<AuthorCard author='Shriya' role='Author' description='Editorial' />
		<AuthorCard author='Zaina' role='Author' description='Life' />
		<AuthorCard author='Frank' role='Author' description='Life & Web Dev' />
		<AuthorCard author='Lily' role='Author' description='Life' />
		<AuthorCard author='Spruha' role='Author' description='Life' />
		<AuthorCard author='Alya' role='Author' description='Life' />
		<AuthorCard author='Feng' role='Author' description='Visual Arts' />
		<AuthorCard author='An' role='Author' description='Visual Arts' />
		<AuthorCard author='Sarah Z.' role='Author' description='Visual Arts' />
		<AuthorCard author='Sarah W.' role='Author' description='Visual Arts' />
		<AuthorCard author='Michelle' role='Author' description='Visual Arts' />
		<AuthorCard author='Winnie' role='Author' description='Print Dev' />
		<AuthorCard author='Noshin' role='Author' description='Print Dev' />
		<AuthorCard author='Ananya' role='Author' description='Print Dev' />
		<AuthorCard author='Ritvik' role='Author' description='Web Dev' />
		<AuthorCard author='Alec' role='Author' description='Web Dev' />
		<AuthorCard author='Artin' role='Author' description='Web Dev' />
	</div>
	<br />
	<Contact />
	<div class='mt-5 flex flex-col justify-center items-center gap-2 sm:flex-row sm:gap-3'>
		<a
			class='w-full sm:w-auto py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-white text-gray-800 hover:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
			href='/'
		>
			<svg
				class='flex-shrink-0 w-4 h-4'
				xmlns='http://www.w3.org/2000/svg'
				width='24'
				height='24'
				viewBox='0 0 24 24'
				fill='none'
				stroke='currentColor'
				stroke-width='2'
				stroke-linecap='round'
				stroke-linejoin='round'
			>
				<path d='m15 18-6-6 6-6'></path>
			</svg>
			Back to Home
		</a>
	</div>
</BaseLayout>
