---
import AboutUsFeatures from '@/components/AboutUsFeatures'
import Hero from '@/components/Hero'
import ListPosts from '@/components/ListPosts'
import PageTitle from '@/components/PageTitle'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'

const MAX_POSTS = 2 // max number of posts to show on the home page
const posts = await getPosts(MAX_POSTS)
---

<BaseLayout title="The Panther Press - Victoria Park CI's Student Newspaper">
	<Hero />
	<AboutUsFeatures />
	<div class='px-4 lg:px-8'>
		<div class='mb-6'>
			<PageTitle title='Recent Articles' />
		</div>
		<ListPosts FirstBig={false} posts={posts} />
	</div>
</BaseLayout>
