---
import AboutUsFeatures from '@/components/AboutUsFeatures'
import Hero from '@/components/Hero'
import ListPosts from '@/components/ListPosts'
import PageTitle from '@/components/PageTitle'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'

const MAX_POSTS = 4
const posts = await getPosts(MAX_POSTS)
---

<BaseLayout
	title="Victoria Park CI's Student Newspaper"
	description='The official student newspaper for Victoria Park Collegiate Institute. Explore a wide range of articles ranging from fiction to news written by our student '
>
	<Hero />
	<AboutUsFeatures />
	<div class='px-4 lg:px-8'>
		<div class='mb-6'>
			<PageTitle title='Recent Articles' />
		</div>
		<ListPosts FirstBig={false} posts={posts} />
	</div>
</BaseLayout>
