---
import Hero from '@/components/Hero'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
---

<BaseLayout title='Photography'>
	<TitlePage title='Photography' />
	<div class='grid grid-cols-2 sm:grid-cols-3 gap-2'>
		<div class='space-y-2'>
			<img
				class='w-full h-auto object-cover'
				src='/oct2023/PXL_20221103_213715354.jpg'
				alt='Image Description'
			/>
			<img
				class='w-full h-auto object-cover'
				src='/oct2023/PXL_20230904_114345810.jpg'
				alt='Image Description'
			/>
			<img
				class='w-full h-auto object-cover'
				src='/oct2023/PXL_20231021_163458922~2.jpg'
				alt='Image Description'
			/>
			<img
				class='w-full h-auto object-cover'
				src='/oct2023/BlackWhite1.jpg'
				alt='Image Description'
			/>
		</div>
		<div class='space-y-2'>
			<img
				class='w-full h-auto object-cover'
				src='/oct2023/PXL_20231021_165359074~2.jpg'
				alt='Image Description'
			/>
			<img
				class='w-full h-auto object-cover'
				src='/oct2023/Standalone1.png'
				alt='Image Description'
			/>
		</div>
		<div class='space-y-2'>
			<img
				class='w-full h-auto object-cover'
				src='https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'
				alt='Image Description'
			/>
			<img
				class='w-full h-auto object-cover'
				src='https://images.unsplash.com/photo-1586232702178-f044c5f4d4b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80'
				alt='Image Description'
			/>
			<img
				class='w-full h-auto object-cover'
				src='https://images.unsplash.com/photo-1542125387-c71274d94f0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'
				alt='Image Description'
			/>
		</div>
	</div>
</BaseLayout>
