---
import { Image } from 'astro:assets'
import coverImg from '../assets/misc/IMG_7359.jpg'
import ZoomCard from './ZoomCard.astro'
// text-[#2C3E50]
---

<!-- Features -->
<div class='max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto'>
	<ZoomCard className='sm:py-10 p-0' containerClassName='bg-transparent'>
		<div>
			<Image
				src={coverImg}
				loading='eager'
				class='w-full object-cover rounded-xl'
				alt='Credits: Jasmine - Scenery of lake with pine trees in the background'
				format='webp'
				width='1200'
				height='900'
			/>

			<p
				class='absolute argent hidden sm:inline-block bottom-20 left-20 text-3xl sm:text-4xl font-bold text-white max-w-md'
			>
				The official student newspaper of Victoria Park Collegiate Institute.
			</p>
		</div>
	</ZoomCard>

	<!-- Grid -->
	<div class='mt-5 grid lg:grid-cols-3 gap-8 lg:gap-12'>
		<div class='lg:col-span-1'>
			<h2 class='font-bold text-2xl md:text-3xl text-gray-800 dark:text-gray-200'>
				The official student newspaper for Victoria Park CI
			</h2>
			<p class='mt-2 md:mt-4 text-gray-500'>
				Victoria Park Collegiate Institute is a public high school in Toronto, Ontario, Canada. We
				are located in the Parkwoods neighbourhood, part of the Toronto District School Board.
			</p>
		</div>
		<!-- End Col -->

		<div class='lg:col-span-2'>
			<div class='grid sm:grid-cols-2 gap-8 md:gap-12'>
				<!-- Icon Block -->
				<div class='flex gap-x-5'>
					<svg
						xmlns='http://www.w3.org/2000/svg'
						class='shrink-0 w-6 h-6 text-blue-600 dark:text-blue-500'
						width='24'
						height='24'
						viewBox='0 0 24 24'
						stroke-width='2'
						stroke='currentColor'
						fill='none'
						stroke-linecap='round'
						stroke-linejoin='round'
						><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
							d='M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0'></path><path
							d='M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2'></path><path
							d='M16 3.13a4 4 0 0 1 0 7.75'></path><path d='M21 21v-2a4 4 0 0 0 -3 -3.85'
						></path></svg
					>
					<div class='grow'>
						<h1 class='text-lg font-semibold text-gray-800 dark:text-white'>Life</h1>
						<p class='mt-1 text-gray-600 dark:text-gray-400'>
							Creative writing, poetry, and fictional short stories from our amazing writers.
						</p>
					</div>
				</div>
				<!-- End Icon Block -->

				<!-- Icon Block -->
				<div class='flex gap-x-5'>
					<svg
						xmlns='http://www.w3.org/2000/svg'
						class='shrink-0 mt-1 w-6 h-6 text-blue-600 dark:text-blue-500'
						width='24'
						height='24'
						viewBox='0 0 24 24'
						stroke-width='2'
						stroke='currentColor'
						fill='none'
						stroke-linecap='round'
						stroke-linejoin='round'
						><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
							d='M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11'
						></path><path d='M8 8l4 0'></path><path d='M8 12l4 0'></path><path d='M8 16l4 0'
						></path></svg
					>
					<div class='grow'>
						<h1 class='text-lg font-semibold text-gray-800 dark:text-white'>News</h1>
						<p class='mt-1 text-gray-600 dark:text-gray-400'>
							Stay up-to-date with the latest news and events in our school community!
						</p>
					</div>
				</div>
				<!-- End Icon Block -->

				<!-- Icon Block -->
				<div class='flex gap-x-5'>
					<svg
						xmlns='http://www.w3.org/2000/svg'
						class='shrink-0 mt-1 w-6 h-6 text-blue-600 dark:text-blue-500'
						width='24'
						height='24'
						viewBox='0 0 24 24'
						stroke-width='2'
						stroke='currentColor'
						fill='none'
						stroke-linecap='round'
						stroke-linejoin='round'
						><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path d='M8 9h8'></path><path
							d='M8 13h6'></path><path
							d='M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z'
						></path></svg
					>
					<div class='grow'>
						<h1 class='text-lg font-semibold text-gray-800 dark:text-white'>Editorial</h1>
						<p class='mt-1 text-gray-600 dark:text-gray-400'>
							Opinion pieces on various topics, ranging from reviews to interviews.
						</p>
					</div>
				</div>
				<!-- End Icon Block -->

				<!-- Icon Block -->
				<div class='flex gap-x-5'>
					<svg
						xmlns='http://www.w3.org/2000/svg'
						class='shrink-0 mt-1 w-6 h-6 text-blue-600 dark:text-blue-500'
						width='24'
						height='24'
						viewBox='0 0 24 24'
						stroke-width='2'
						stroke='currentColor'
						fill='none'
						stroke-linecap='round'
						stroke-linejoin='round'
						><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
							d='M3 21v-4a4 4 0 1 1 4 4h-4'></path><path d='M21 3a16 16 0 0 0 -12.8 10.2'
						></path><path d='M21 3a16 16 0 0 1 -10.2 12.8'></path><path
							d='M10.6 9a9 9 0 0 1 4.4 4.4'></path></svg
					>
					<div class='grow'>
						<h1 class='text-lg font-semibold text-gray-800 dark:text-white'>Visual Arts</h1>
						<p class='mt-1 text-gray-600 dark:text-gray-400'>
							Artwork, photography, and digital media from our talented student artists. To be
							featured soon.
						</p>
					</div>
				</div>
			</div>
			<!-- End Icon Block -->
		</div>
	</div>
	<!-- End Col -->
</div>
<!-- End Grid -->

<!-- End Features -->

<style>
	.argent {
		font-family: 'ArgentCF', sans-serif;
	}
</style>
