---
import { Image } from 'astro:assets'
---

<!-- Features -->
<div class='max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto'>
	<div class='aspect-w-16 aspect-h-7'>
		<Image
			src='/oct2023/PXL_20230904_114345810.jpg'
			loading='eager'
			class='w-full object-cover rounded-xl'
			alt='Photo of a walking path bridge going into a green forest'
			format='webp'
			width='1200'
			height='900'
		/>
	</div>

	<!-- Grid -->
	<div class='mt-5 lg:mt-16 grid lg:grid-cols-3 gap-8 lg:gap-12'>
		<div class='lg:col-span-1'>
			<h2 class='font-bold text-2xl md:text-3xl text-gray-800 dark:text-gray-200'>
				The official student newspaper for Victoria Park CI
			</h2>
			<p class='mt-2 md:mt-4 text-gray-500'>
				Victoria Park Collegiate Institute is a public high school in Toronto, Ontario, Canada. We
				are located in the Parkwoods neighbourhood, part of the Toronto District School Board.
			</p>
		</div>
		<!-- End Col -->

		<div class='lg:col-span-2'>
			<div class='grid sm:grid-cols-2 gap-8 md:gap-12'>
				<!-- Icon Block -->
				<div class='flex gap-x-5'>
					<svg
						class='flex-shrink-0 mt-1 w-6 h-6 text-blue-600 dark:text-blue-500'
						xmlns='http://www.w3.org/2000/svg'
						width='24'
						height='24'
						viewBox='0 0 24 24'
						fill='none'
						stroke='currentColor'
						stroke-width='2'
						stroke-linecap='round'
						stroke-linejoin='round'
						><rect width='18' height='10' x='3' y='11' rx='2'></rect><circle cx='12' cy='5' r='2'
						></circle><path d='M12 7v4'></path><line x1='8' x2='8' y1='16' y2='16'></line><line
							x1='16'
							x2='16'
							y1='16'
							y2='16'></line></svg
					>
					<div class='grow'>
						<h1 class='text-lg font-semibold text-gray-800 dark:text-white'>Life</h1>
						<p class='mt-1 text-gray-600 dark:text-gray-400'>
							Dive into creative expressions! Reflect on events and issues through written or visual
							pieces, showcasing diverse perspectives.
						</p>
					</div>
				</div>
				<!-- End Icon Block -->

				<!-- Icon Block -->
				<div class='flex gap-x-5'>
					<svg
						class='flex-shrink-0 mt-1 w-6 h-6 text-blue-600 dark:text-blue-500'
						xmlns='http://www.w3.org/2000/svg'
						width='24'
						height='24'
						viewBox='0 0 24 24'
						fill='none'
						stroke='currentColor'
						stroke-width='2'
						stroke-linecap='round'
						stroke-linejoin='round'
						><path d='M7 10v12'></path><path
							d='M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z'
						></path></svg
					>
					<div class='grow'>
						<h1 class='text-lg font-semibold text-gray-800 dark:text-white'>News</h1>
						<p class='mt-1 text-gray-600 dark:text-gray-400'>
							Explore school, community, and global happenings. From interviews to research, stay
							informed with our diverse coverage.
						</p>
					</div>
				</div>
				<!-- End Icon Block -->

				<!-- Icon Block -->
				<div class='flex gap-x-5'>
					<svg
						class='flex-shrink-0 mt-1 w-6 h-6 text-blue-600 dark:text-blue-500'
						xmlns='http://www.w3.org/2000/svg'
						width='24'
						height='24'
						viewBox='0 0 24 24'
						fill='none'
						stroke='currentColor'
						stroke-width='2'
						stroke-linecap='round'
						stroke-linejoin='round'
						><path d='M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z'></path><path
							d='M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z'></path></svg
					>
					<div class='grow'>
						<h1 class='text-lg font-semibold text-gray-800 dark:text-white'>Editorial</h1>
						<p class='mt-1 text-gray-600 dark:text-gray-400'>
							Delve into viewpoints and debates. Present clear opinions, backed by credible sources,
							on school-related events and topics.
						</p>
					</div>
				</div>
				<!-- End Icon Block -->

				<!-- Icon Block -->
				<div class='flex gap-x-5'>
					<svg
						class='flex-shrink-0 mt-1 w-6 h-6 text-blue-600 dark:text-blue-500'
						xmlns='http://www.w3.org/2000/svg'
						width='24'
						height='24'
						viewBox='0 0 24 24'
						fill='none'
						stroke='currentColor'
						stroke-width='2'
						stroke-linecap='round'
						stroke-linejoin='round'
						><path d='M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2'></path><circle cx='9' cy='7' r='4'
						></circle><path d='M22 21v-2a4 4 0 0 0-3-3.87'></path><path
							d='M16 3.13a4 4 0 0 1 0 7.75'></path></svg
					>
					<div class='grow'>
						<h1 class='text-lg font-semibold text-gray-800 dark:text-white'>Visual Arts</h1>
						<p class='mt-1 text-gray-600 dark:text-gray-400'>
							Engage through captivating art and photography. Stir emotions and critical thinking,
							complementing written content across boards.
						</p>
					</div>
				</div>
			</div>
			<!-- End Icon Block -->
		</div>
	</div>
	<!-- End Col -->
</div>
<!-- End Grid -->

<!-- End Features -->
