---
import { getAuthorsData } from '@/data/authors'
import { sluglify } from '@/utils'
type Author = {
	name: string
	bio: string
	pfp: string
}
type Props = {
	authors: string[]
	imageCredit: string
}
const { authors, imageCredit } = Astro.props

const data = getAuthorsData(authors)
---

<script define:vars={{ data }}>
	console.log(data.map((author) => author))
</script>

<div class='grid md:grid-cols-1 md:grid-rows-1 grid-cols-2 border-y border-gray-200 mb-8 py-4'>
	{
		data.map((author) => (
			<a href={`/author/${sluglify(author!.name).toLowerCase()}`}>
				<div class='group flex flex-col items-center my-auto'>
					<div
						style={`background-image: url('${author!.pfp || '/author/default.jpg'}');`}
						class='h-16 w-16 block flex-shrink-0 my-2 bg-cover rounded-full bg-center'
					/>
					<div class='group block text-center'>
						<h5 class='group-hover:text-gray-600 text-sm font-semibold text-gray-800 dark:group-hover:text-gray-400 dark:text-gray-200'>
							{author!.name}
						</h5>
						<div class='mt-1'>
							<p class='text-sm text-gray-500'>
								{author?.bio && author?.bio.split(' ').slice(0, 10).join(' ') + '...'}
							</p>
						</div>
					</div>
				</div>
			</a>
		))
	}
	<div class='text-center md:my-3 my-auto'>
		<p class='text-sm text-gray-500 dark:text-gray-400'>
			Photo by <span class='text-gray-600 dark:text-gray-300'>{imageCredit}</span>
		</p>
	</div>
</div>
