---
import { readItem } from '@directus/sdk'
import type { Post_Author } from 'src/lib/directus'
import directus, { directusAssetsUrl } from 'src/lib/directus'
type Props = {
	authors: Post_Author[]
	imageCredit: string
}
const { authors, imageCredit } = Astro.props

const data = await Promise.all(
	authors.map((author) => directus.request(readItem('author', author.author_id as string | number)))
)
---

<div class='grid grid-cols-2 border-y border-gray-200 py-4 md:grid-cols-1 md:grid-rows-1'>
	{
		data.map((author) => (
			<a href={`/author/${author.slug}`}>
				<div class='group my-auto flex flex-col items-center'>
					<div
						style={`background-image: url('${author.photo ? directusAssetsUrl + author.photo + '?width=150' : '/author/default.jpg'}');`}
						class='my-2 block size-16 shrink-0 rounded-full bg-cover bg-center'
					/>
					<div class='group block text-center'>
						<h5 class='text-sm font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-200 dark:group-hover:text-gray-400'>
							{author.name}
						</h5>
						<div class='mt-1'>
							<p class='text-sm text-gray-500'>
								{author?.bio ? author.bio.split(' ').slice(0, 10).join(' ') + '...' : ''}
							</p>
						</div>
					</div>
				</div>
			</a>
		))
	}
	<div class='my-auto text-center md:my-3'>
		<p class='text-sm text-gray-500 dark:text-gray-400'>
			Photo by <span class='text-gray-600 dark:text-gray-300'>{imageCredit}</span>
		</p>
	</div>
</div>
