---
import HeaderLink from '@/components/HeaderLink'
import InstagramIcon from '@/components/icons/InstagramIcon'
import LinktreeIcon from '@/components/icons/LinktreeIcon'
import MenuIcon from './icons/MenuIcon.astro'
import Search from '@/components/Search'
import ToggleTheme from './ToggleTheme.astro'

const SOCIALNETWORKS = [
	{
		name: 'Instagram',
		url: 'https://github.com/danielcgilibert/blog-template',
		icon: InstagramIcon
	},

	{
		name: 'Linktree',
		url: 'https://github.com/danielcgilibert/blog-template',
		icon: LinktreeIcon
	}
]
---

<header class='relative flex justify-between items-center h-12 font-semibold'>
	<a class='text-3lg mr-auto' href='/'>Home</a>

	<div
		id='astro-header-drawer'
		class='shadow rounded-l-lg md:bg-transparent dark:md:bg-transparent bg-white dark:bg-[#0a0910] md:shadow-none md:rounded-none md:border-none md:h-auto md:static absolute transition-transform duration-300 ease-in translate-x-96 md:translate-x-0 top-12 -right-5 px-4 py-6 md:p-0 h-fit w-[200px] z-50'
	>
		<nav
			class='flex h-full flex-col justify-between gap-12 md:text-left text-center md:flex-row md:w-full md:gap-5'
		>
			<div
				class='flex flex-col gap-4 sm:flex-row md:border-r-2 border-black md:pr-4 dark:border-white text-2xl md:text-lg'
			>
				<HeaderLink href='/category/life'>Life</HeaderLink>
				<HeaderLink href='/category/news'>News</HeaderLink>
				<HeaderLink href='/category/editorial'>Editorial</HeaderLink>
			</div>
		</nav>
	</div>

	<div transition:persist class='pl-8 flex items-center gap-3 md:pl-3'>
		{
			SOCIALNETWORKS.map((network) => (
				<HeaderLink class='' href={network.url} target='_blank' aria-label={network.name}>
					<span>{<network.icon />} </span>
				</HeaderLink>
			))
		}
		<div>
			<Search />
		</div>
		<ToggleTheme />
		<button id='astro-header-drawer-button' type='button' class='md:ml-6 md:hidden'>
			<MenuIcon />
			<span class='sr-only'>Show Menu</span>
		</button>
	</div>
</header>
<script>
	document.addEventListener('click', (event) => {
		const menu = document.getElementById('astro-header-drawer')
		const menuButton = document.getElementById('astro-header-drawer-button')
		const isClickInside =
			menu?.contains(event.target as HTMLDivElement) ||
			menuButton?.contains(event.target as HTMLButtonElement)

		if (isClickInside) {
			menu?.classList.toggle('translate-x-96')
		} else {
			menu?.classList.add('translate-x-96')
		}
	})
</script>
