---
import { cn } from '@/utils'
import { type Post } from 'src/lib/directus'
import PostCard from './PostCard.astro'

type Props = {
	posts: Post[]
	FirstBig?: boolean
}

const { posts, FirstBig = false } = Astro.props
---

<section
	class={cn(
		`grid grid-cols-1 lg:grid-cols-2 gap-8 mt-3`,
		FirstBig && `lg:[&>*:first-child]:col-span-2`
	)}
>
	{
		posts.map(async (post: Post) => {
			return <PostCard post={post} />
		})
	}
</section>
