---
import HeaderLink from './HeaderLink.astro'
import Search from './Search.astro'
import ToggleTheme from './ToggleTheme.astro'
import InstagramIcon from './icons/InstagramIcon.astro'
import LinktreeIcon from './icons/LinktreeIcon.astro'
import MenuIcon from './icons/MenuIcon.astro'
import Logo from './icons/Logo.astro'

const SOCIALNETWORKS = [
	{
		name: 'Instagram',
		url: 'https://instagram.com/vp.pantherpress',
		icon: InstagramIcon
	},

	{
		name: 'Linktree',
		url: 'https://linktr.ee/pantherpress',
		icon: LinktreeIcon
	}
]
---

<script>
	import '@preline/collapse'
</script>

<script is:inline>
	document.addEventListener('astro:after-swap', () => {
		HSCollapse.autoInit()
	})
</script>

<header
	class='w-fulltext-sm z-50 flex flex-wrap rounded-lg bg-zinc-200 py-4 font-manrope sm:flex-nowrap sm:justify-start md:bg-transparent dark:bg-zinc-900 md:dark:bg-transparent'
>
	<nav
		class='mx-auto w-full max-w-[85rem] px-4 sm:flex sm:items-center sm:justify-between'
		aria-label='Global'
	>
		<div class='flex items-center justify-between'>
			<a
				class='hover:trans-text flex-none text-2xl font-semibold text-zinc-900 dark:text-white'
				href='/'
			>
				<div class='flex flex-row items-center gap-x-2'>
					<Logo width={24} height={24} /> Panther Press
				</div></a
			>
			<div class='flex flex-row items-center gap-2 sm:hidden'>
				<Search />
				<button
					type='button'
					class='hs-collapse-toggle inline-flex items-center justify-center gap-2 rounded-md border bg-white p-2 text-sm font-medium text-gray-700 transition-all hover:bg-gray-50 dark:border-gray-700 dark:bg-zinc-900 dark:text-gray-400 dark:hover:bg-zinc-800 dark:hover:text-white'
					data-hs-collapse='#navbar-collapse-with-animation'
					aria-controls='navbar-collapse-with-animation'
					aria-label='Toggle navigation'
				>
					<MenuIcon />
				</button>
			</div>
		</div>
		<div
			id='navbar-collapse-with-animation'
			class='hs-collapse ml-auto hidden grow basis-full flex-row overflow-hidden transition-all duration-300 sm:flex'
		>
			<div
				class='mt-5 ml-auto flex flex-col gap-5 text-lg font-semibold sm:mt-0 sm:flex-row sm:items-center sm:justify-end sm:pl-5'
			>
				<HeaderLink href='/articles/1'>Articles</HeaderLink>
				<HeaderLink href='/issues/'>Issues</HeaderLink>
				<HeaderLink href='/about-us/'>About Us</HeaderLink>
				<div transition:persist class='flex flex-row gap-2 align-middle'>
					{
						SOCIALNETWORKS.map((network) => (
							<HeaderLink
								class='my-auto'
								href={network.url}
								target='_blank'
								aria-label={network.name}
							>
								<span>{<network.icon />} </span>
							</HeaderLink>
						))
					}
					<div class='hidden sm:inline-block'>
						<Search />
					</div>
					<ToggleTheme />
				</div>
			</div>
		</div>
	</nav>
</header>
