---
import DynLogo from './icons/DynLogo.astro'
type Props = {
	title: string
}

const { title } = Astro.props
---

<div class='title flex items-center justify-start gap-2'>
	<DynLogo />
	<h1 class='text-6xl font-bold first-letter:uppercase'>
		{title}
	</h1>
</div>
