---
const { page } = Astro.props

const pageNumbers = Array.from({ length: page.lastPage }, (_, index) => index + 1)
---

<script>
	function removeItems() {
		const pgcont = document.querySelector('#pg')
		const pgitems = pgcont!.children
		const pgnum = parseInt(pgcont!.getAttribute('data-total-items') ?? '0')
		// console.log(pgcont, pgitems, pgcont?.childElementCount, pgcont?.children.length)
		if (window.innerWidth < 640 && pgnum > 3) {
			for (let i = 0; i < pgnum - 1; i++) {
				if (i > 1 && i != pgnum - 1) {
					pgcont?.removeChild(pgitems[2])
				}
				if (i === pgnum - 2) {
					const textNode = document.createTextNode('...')
					pgcont!.insertBefore(textNode, pgcont!.childNodes[3])
				}
			}
		}
	}
	document.addEventListener('astro:after-swap', removeItems)
	removeItems()
</script>

<nav class='flex items-center justify-center gap-x-1'>
	<a href={page.url.prev + '/'}>
		<button
			type='button'
			class='inline-flex min-h-[38px] min-w-[38px] items-center justify-center gap-x-1.5 rounded-lg px-2.5 py-2 text-sm text-zinc-800 hover:bg-zinc-100 focus:bg-zinc-100 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10'
			disabled={page.start > 0 ? false : true}
		>
			<svg
				class='h-3.5 w-3.5 shrink-0'
				xmlns='http://www.w3.org/2000/svg'
				width='24'
				height='24'
				viewBox='0 0 24 24'
				fill='none'
				stroke='currentColor'
				stroke-width='2'
				stroke-linecap='round'
				stroke-linejoin='round'><path d='m15 18-6-6 6-6'></path></svg
			>
			<span>Previous</span>
		</button>
	</a>
	<div
		id='pg'
		class='flex items-center gap-x-1'
		data-total-items={page.lastPage}
		data-current-page={page.currentPage}
	>
		{
			pageNumbers.map((pageNumber) => (
				<a
					href={`${page.url.current.replace(/\/\d+$/, `/${pageNumber}`)}/`}
					class={`inline-flex min-h-[38px] min-w-[38px] items-center justify-center gap-x-1.5 rounded-lg px-2.5 py-2 text-sm text-zinc-800 focus:bg-zinc-100 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:text-white dark:focus:bg-white/10 ${
						page.currentPage === pageNumber
							? 'bg-zinc-200 focus:bg-zinc-300 dark:bg-zinc-600 dark:focus:bg-zinc-500'
							: 'hover:bg-zinc-100 dark:hover:bg-white/10'
					}`}
				>
					{pageNumber}
				</a>
			))
		}
	</div>
	<a href={page.url.next + '/'}>
		<button
			type='button'
			class='inline-flex min-h-[38px] min-w-[38px] items-center justify-center gap-x-1.5 rounded-lg px-2.5 py-2 text-sm text-zinc-800 hover:bg-zinc-100 focus:bg-zinc-100 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10'
			disabled={page.currentPage < page.lastPage ? false : true}
		>
			<span>Next</span>
			<svg
				class='h-3.5 w-3.5 shrink-0'
				xmlns='http://www.w3.org/2000/svg'
				width='24'
				height='24'
				viewBox='0 0 24 24'
				fill='none'
				stroke='currentColor'
				stroke-width='2'
				stroke-linecap='round'
				stroke-linejoin='round'><path d='m9 18 6-6-6-6'></path></svg
			>
		</button>
	</a>
</nav>
