---
import { cn } from '../lib/cn'

interface Props {
	containerClassName?: string
	className?: string
}

const { containerClassName, className } = Astro.props
---

<section
	class={cn(
		'mx-auto w-full bg-indigo-800 relative rounded-2xl overflow-hidden zoom-card',
		containerClassName
	)}
>
	<div
		class='relative h-full [background-image:radial-gradient(88%_100%_at_top,rgba(255,255,255,0.5),rgba(255,255,255,0))] sm:mx-0 sm:rounded-2xl overflow-hidden'
		style='box-shadow: 0 10px 32px rgba(34, 42, 53, 0.12), 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(34, 42, 53, 0.05), 0 4px 6px rgba(34, 42, 53, 0.08), 0 24px 108px rgba(47, 48, 55, 0.10);'
	>
		<div class={cn('h-full px-4 py-9 sm:px-9 card-content', className)}>
			<div
				class='absolute inset-0 w-full h-full scale-[1.2] transform opacity-10 [mask-image:radial-gradient(#fff,transparent,75%)]'
				style='background-image: url(/noise.webp); background-size: 30%;'
			>
			</div>
			<slot />
		</div>
	</div>
</section>

<style>
	.zoom-card .card-content {
		transform: translate3d(0px, 0px, 0) scale3d(1, 1, 1);
		transition: transform 0.1s ease-out;
	}

	.zoom-card:hover .card-content {
		transform: scale3d(1.03, 1.03, 1);
	}
</style>
