---
import '@fontsource/atkinson-hyperlegible'
import '@fontsource-variable/inter'
import '@fontsource-variable/manrope'
import BaseHead from '@/components/BaseHead'
import Footer from '@/components/Footer'
import TwSizeIndicator from '@/components/TwSizeIndicator'
import Navbar from '@/components/Navbar'
const { title, description, image, issue } = Astro.props
import '../styles/global.css'
---

<html lang='en' class='scroll-smooth'>
	<BaseHead title={title} description={description} ogImage={image} issue={issue} />
	<body
		class='w-full h-full bg-zinc-200 dark:bg-zinc-900 text-stone-950 dark:text-white bg-repeat mix-blend-multiply dark:bg-[url("/topography-dark.svg")] dark:mix-blend-normal bg-[url("/paper-light.jpg")]'
	>
		<main
			class='px-5 sm:mx-auto sm:max-w-2xl sm:px-8 lg:px-10 antialiased md:max-w-6xl grid gap-12 mt-4 mb-10 overflow-hidden md:overflow-visible'
		>
			<Navbar />
			<slot />
		</main>
		<Footer />
		<TwSizeIndicator />
	</body>
</html>
