---
import '@fontsource/atkinson-hyperlegible'
import '@fontsource-variable/inter'
import '@fontsource-variable/manrope'
import BaseHead from '@/components/BaseHead'
import Footer from '@/components/Footer'
import TwSizeIndicator from '@/components/TwSizeIndicator'
import Navbar from '@/components/Navbar'
const { title, description, image, issue } = Astro.props
import '../styles/global.css'
---

<html lang='en' class='scroll-smooth'>
	<BaseHead title={title} description={description} ogImage={image} issue={issue} />
	<body
		class='h-full w-full bg-zinc-200 bg-[url("/paper-light.jpg")] bg-repeat text-stone-950 mix-blend-multiply dark:bg-zinc-900 dark:bg-[url("/topography-dark.svg")] dark:text-white dark:mix-blend-normal'
	>
		<main
			class='mt-4 mb-10 grid gap-12 overflow-hidden px-5 antialiased sm:mx-auto sm:max-w-2xl sm:px-8 md:max-w-6xl md:overflow-visible lg:px-10'
		>
			<Navbar />
			<slot />
		</main>
		<Footer />
		<TwSizeIndicator />
	</body>
</html>
